@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(226, 226, 226);
  --primary-color: #dab576;
  --secondary-color: #e3c796;
  --panel-color: #b1b1b156;
  --input-color: #ecedf0;
  --light-text-color: #ddd9d9;
  --dark-text-color: #1e1e1e;
  --input-text-clor: #1e1e1e;
  --assistant-message: #ffffff;
  --icons: #505050;
  --hover: #706156;
  --code: #81550a;
}

.dark-mode {
  /* Темная тема */
  --background-color: #1e1e1e;
  --primary-color: #6c4f2a;
  --secondary-color: #706156;
  --panel-color: #4a4a5855;
  --input-color: #3a3b3f;
  --light-text-color: #ffffff;
  --dark-text-color: #ffffff;
  --input-text-clor: #ddd9d9;
  --assistant-message: #3a3b3f;
  --icons: #a9a9a9;
  --hover: #e3c796;
  --code: #be7e0f;
}

html {
  font-size: 62.5%;
  transition: all 0.5s ease-in;
  height: 100%;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.margin-bottom-40px {
  margin-bottom: 4rem;
}

.margin-bottom-60px {
  margin-bottom: 6rem;
}

body {
  background: var(--background-color);
  font-family: "Rubik";
  height: 100%;
}

h3 {
  color: var(--dark-text-color);
  font-size: 1.4rem;
  font-weight: 300;
  cursor: default;
}

h4 {
  color: rgb(169, 16, 16);
  font-size: 1.6rem;
  font-weight: 300;
}

textarea {
  font-family: "rubik";
  color: var(--input-text-clor);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.scroll {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.chat-buttons {
  display: flex;
  flex-direction: inline-flex;
  justify-content: space-between;
}

.btn-chat-panel {
  position: absolute;
  top: 2.2rem;
  left: 1rem;
  background-color: var(--icons); /* Цвет иконки */
  -webkit-mask: url("/static/icons/left_panel_btn.svg") center / contain
    no-repeat;
  mask: url("/static/icons/left_panel_btn.svg") center / contain no-repeat;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-chat-panel:hover {
  transform: scale(1.08);
  background-color: var(--hover); /* Цвет иконки */
}
.btn-chat-panel:active {
  color: var(--secondary-color);
  transform: scale(0.96);
}

.btn-new-chat-panel {
  width: 100%;
  text-align: start;
  text-decoration: none;
  color: var(--dark-text-color);
  border: none;
  box-shadow: inset 0px -0.3px 0px 0px var(--dark-text-color);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-new-chat-panel:hover {
  background-color: var(--secondary-color);
}

.btn-del-chat-panel {
  position: absolute; /* Абсолютное позиционирование относительно родителя (.session) */
  bottom: 0; /* Прикреплена к нижней части родителя */
  width: 100%; /* Занимает всю ширину родителя */
  text-decoration: none;
  color: var(--dark-text-color);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
  border: none;
  box-shadow: inset 0px 0.3px 0px 0px var(--dark-text-color);
  cursor: pointer;
  transition: all 0.3s;
  text-align: start; /* Выравнивание текста по центру */
}

.btn-del-chat-panel:hover {
  background-color: var(--secondary-color);
}

.main-section {
  position: relative;
  /*   background: var(--background-color); */
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 200;
  overflow: hidden;
  transition: all 0.2s ease-in 0.2s;
}

p {
  color: var(--dark-text-color);
  font-size: 1.6rem;
}

.chat-session {
  position: relative; /* Фиксируем панель относительно окна браузера */
  left: 0; /* Прикрепляем панель к левому краю */
  display: flex;
  flex-direction: column;
  /*   padding: 2rem 1rem 2rem 1rem; */
  border-radius: 0 10px 10px 0;
  box-shadow: inset -0.5px 0 0 0 var(--dark-text-color);
  height: 100%;
  width: 0%; /* Изначально скрыто */
  overflow-x: hidden;
  transition: 0.5s;
  background-color: var(--panel-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.4s;
  z-index: 299;
}

.chat-session ul {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  padding: 0;
  width: 100%;
}

.chat-session ul li {
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.chat-session ul li:hover {
  background-color: var(--assistant-message);
}

.active-chat {
  width: 75%;
  padding: 1rem;
}

li {
  text-align: start;
  font-size: 1.6rem;
  color: var(--dark-text-color);
}

#chatList {
  max-height: 85%; /* Установите нужную вам высоту */
  overflow-y: auto; /* Включает вертикальную прокрутку при необходимости */
}

.main-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.active {
  width: 20%;
}

.session {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: var(--light-text-color);
  opacity: 0;
  transition: opacity 0.2s;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  height: 100%;
}

.panel.active .session {
  transition: opacity 0.2s ease-in 0.2s;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 1rem;
  top: 0vh;
  left: 8%;
  width: 100%;
  transform: translateY(-50%);
}

.welcome-message {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  color: var(--dark-text-color);
  z-index: 200;
  cursor: default;
}

.request-panel {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 92vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.request-panel.visible {
  opacity: 1;
}
.request-panel.welcome {
  position: sticky;
  top: 48%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.request-btn {
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: var(--icons); /* Цвет иконки */
  -webkit-mask: url("/static/icons/send_btn.svg") center / contain no-repeat;
  mask: url("/static/icons/send_btn.svg") center / contain no-repeat;
  margin-top: 0.6rem;
  width: 3rem;
  height: 3rem;
  z-index: 400;
  transition: all 0.3s;
  transform: translateX(-4.7rem) !important; /* Смещение вправо на 20px */
}

.request-btn:hover {
  background-color: var(--hover); /* Цвет иконки */
}
.request-btn:active {
  color: var(--secondary-color);
  transform: scale(0.96);
}

/* Стили для кнопки остановки */
.stop-button {
  background-color: rgb(210, 73, 73); /* Красный цвет для остановки */
  -webkit-mask: url("/static/icons/stop_btn.svg") center / contain no-repeat;
  mask: url("/static/icons/stop_btn.svg") center / contain no-repeat;
  /* Можно добавить другие стили, если необходимо */
}

.mic-btn {
  background-color: var(--icons); /* Цвет иконки */
  -webkit-mask: url("/static/icons/mic_btn.svg") center / contain no-repeat;
  mask: url("/static/icons/mic_btn.svg") center / contain no-repeat;
  margin-top: 0.6rem;
  width: 3rem;
  height: 3rem;
  z-index: 400;
  cursor: pointer;
  /*   border: none; */
  transition: all 0.3s;
  transform: translateX(4.7rem) !important; /* Смещение вправо на 20px */
}

.mic-btn.recording {
  background-color: rgb(210, 73, 73);
  border-radius: 3rem;
  transform: scale(1.26);
}
.request__input {
  border: none;
  text-align: start;
  padding: 1rem 5rem;
  font-size: 1.8rem;
  width: 70vw;
  height: auto;
  max-height: 12rem;
  border-radius: 2rem;
  margin-right: 1rem;
  background-color: var(--input-color);
  box-shadow: inset 0 0 0 0.3px var(--dark-text-color); /* Внутренняя граница */
  transition: all 0.3s;
  resize: none;
  overflow-y: auto; /* Включаем вертикальный скролл */
  opacity: 0.8;
}

@-moz-document url-prefix() {
  .request__input {
    padding-left: 1rem;
  }
}

.request__input:focus {
  outline: none;
  /*   border: 1px solid #ccc; */
  border: none;
}

#chatContainer {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  overflow-y: auto;
  padding: 0 8rem 0 8rem;
  gap: 2rem;
  max-height: 85vh;
  transition: 0.3s;
  z-index: 200;
}

/* Сообщения пользователя */
.user-message {
  font-size: 1.8rem;
  align-self: flex-end;
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
  border-radius: 15px 15px 0 15px;
  padding: 10px;
  margin: 5px 0;
  max-width: 80%;
  word-wrap: break-word;
  opacity: 0.8;
}

/* Сообщения ассистента (AI) */
.assistant-message {
  font-size: 1.8rem;
  align-self: flex-start;
  background-color: var(--assistant-message);
  color: var(--dark-text-color);
  border-radius: 15px 15px 15px 0;
  padding: 1rem 1rem 1rem 3rem;
  margin: 5px 0;
  max-width: 80%;
  word-wrap: break-word;
  opacity: 0.8;
  white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
}

/* Стили для Markdown */
.assistant-message h1 {
  color: var(--dark-text-color);
  padding-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 450;
}
.assistant-message h2 {
  color: var(--dark-text-color);
  padding-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 350;
}
.assistant-message h3 {
  color: var(--dark-text-color);
  padding-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  font-weight: 300;
}
.assistant-message li {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
}

.assistant-message p {
  color: var(--dark-text-color);
  line-height: 1.4;
  font-size: 1.8rem;
}

.assistant-message a {
  color: #1a0dab;
  text-decoration: none;
}

.assistant-message a:hover {
  text-decoration: underline;
}

.assistant-message code {
  color: var(--code);
  padding: 2px 4px;
  border-radius: 4px;
}

.assistant-message pre {
  background-color: var(--panel-color);
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 1.4rem;
}

.assistant-message blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #666;
  margin: 1em 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 0rem 8rem;
  width: 100%;
  z-index: 500;
}

.logo-nav {
  display: flex;
  /*   background: url("/logos/favicon.svg") center / cover no-repeat; */
  font-family: "Julius Sans One", sans-serif;
  text-align: start;
  letter-spacing: -0.3rem;
  font-size: 1.6rem;
  color: var(--icons);
  cursor: default;
  gap: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-color: var(--icons);
  -webkit-mask: url("/static/logos/logo2.png") center / contain no-repeat;
  mask: url("/static/logos/logo2.png") center / contain no-repeat;
  border: none;
}

.main-logo-cover {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--icons);
  -webkit-mask: url("/static/logos/main-logo.png") center / contain no-repeat;
  mask: url("/static/logos/main-logo.png") center / contain no-repeat;
  border: none;
  z-index: 10;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}
.main-logo-cover.visible {
  opacity: 1;
}

.app-theme {
  position: fixed;
  bottom: 5rem;
  padding-left: 1rem;
}

#theme-toggle {
  display: flex;
  align-items: start;
  padding: 0rem 0rem 0rem 0.2rem;
  background: var(--input-color);
  color: var(--input-text-clor);
  border-radius: 3rem;
  width: 8rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
}

#theme-icon {
  display: inline-block;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#theme-toggle:hover {
  transform: scale(1.08);
}
#theme-toggle:active {
  transform: scale(0.96);
}

#theme-icon::before {
  content: "🌕 light"; /* Иконка солнца */
  display: block;
}

.dark-mode #theme-icon {
  transform: /* rotate(360deg) */ translateX(1.2rem);
}

.dark-mode #theme-icon::before {
  content: "dark 🌑"; /* Иконка луны */
}

.warning {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}

@media (max-width: 1240px) {
  .btn-del-chat-panel {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .main-section {
    height: 100vh;
    max-height: 100%;
  }

  .active {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .main-section {
    height: 100vh;
    max-height: 100%;
  }
  .chat-session {
    position: absolute;
    height: 100%;
    z-index: 500;
  }
  li {
    font-size: 1rem;
  }
  .request__input {
    font-size: 1.4rem;
  }
  #chatContainer {
    padding: 0 2rem 0 2rem;
  }
  .user-message {
    font-size: 1.4rem;
  }
  .assistant-message {
    font-size: 1.4rem;
  }
  .navbar {
    padding: 2rem 2rem 0rem 8rem;
  }

  .active {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .main-section {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .main-logo-cover {
    width: 5rem;
    height: 5rem;
  }
  .chat-session {
    position: absolute;
    height: 100%;
    z-index: 500;
  }
  .btn-new-chat-panel {
    font-size: 2.2rem;
  }
  #chatList {
    max-height: 65%;
  }
  li {
    font-size: 2rem;
    font-weight: 300;
  }

  #chatContainer {
    padding: 0 1rem;
  }

  .active {
    width: 100%;
  }
  .request-panel {
    padding: 2rem 0rem 10rem 0rem;
    width: 100vw;
  }
  .request-panel.welcome {
    top: 58%;
  }
  .warning {
    bottom: 7rem;
  }
  h3 {
    font-size: 1rem;
  }
  .assistant-message h1 {
    font-size: 2rem;
  }
  .assistant-message h2 {
    font-size: 1.8rem;
  }
  .assistant-message h3 {
    font-size: 1.4rem;
  }
  .assistant-message li {
    font-size: 1.4rem;
  }
  .assistant-message p {
    font-size: 1.4rem;
  }
  .request__input {
    width: 100vw;
    font-size: 1.6rem;
    max-height: 8rem;
  }
  .welcome-message {
    font-size: 1.6rem;
    top: -30%;
    width: 100%;
  }
  .assistant-message {
    max-width: 100%;
  }
  .user-message {
    max-width: 80%;
  }
  .btn-del-chat-panel {
    font-size: 1.2rem;
  }
}

@media (max-height: 460px) {
  .request__input {
    max-height: 6rem;
  }

  .assistant-message {
    max-width: 90%;
  }
  .user-message {
    max-width: 90%;
  }
  .btn-del-chat-panel {
    font-size: 1.2rem;
  }
}
